<div id="home"  class="container spacer">
  <br>
  <div class="row">
  <% @chefs.each do |chef| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img class="media-object img-circle img-responsive" src="<%= gravatar_for(chef.email, size: 150) %>" alt="">
        <div class="caption text-center">
          <h1><%= chef.chefname %></h1>
          <p>Added <%= pluralize(chef.recipes.size, "recipe") %></p>
          <p><small>Regirsted <%= time_ago_in_words(chef.created_at) %> ago</small></p>
          <p>
            <%= link_to "View chef profile", chef, class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="row text-center">
    <%= will_paginate @chefs, renderer: BootstrapPagination::Rails %>
  </div>
</div>