<div id="home"  class="container spacer">
  <br>
  <div class="row">
    <div class="well col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Chef</h3>
        </div>
        <div class="panel-body">
          <div class="media">
            <div class="media-left media-middle">
              <a href="#">
                <img class="media-object img-circle img-responsive" src="<%= gravatar_for(@chef.email, size: 50) %>" alt="...">
              </a>
            </div>
            <div class="media-right">
              <h4 class="media-heading"><%= @chef.chefname %></h4>
              <small>Regirsted <%= time_ago_in_words(@chef.created_at) %> ago</small>
            </div>
          </div>
        </div>
      </div>
      <% if logged_in? && current_user == @chef %>
        <p><%= link_to "Edit profile", edit_chef_path(@chef), class: "btn btn-default" %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="well col-md-8 col-md-offset-2">
      <% if @recipes.any? %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recipes</h3>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Summary</th>
                  <th>Categories</th>
                  <th>Options</th>
                </tr>
              </thead>
              <tbody>
                <% @recipes.each do |recipe| %>
                  <tr>
                    <td>
                      <%= link_to recipe do %>
                        <% if recipe.picture? %>
                          <%= image_tag(recipe.picture.thumb.url, class: "img-thumbnail img-responsive") %>
                        <% else %>
                          <img src="http://placehold.it/50x50" alt="" class="img-thumbnail img-responsive">
                        <% end %>
                      <% end %>
                    </td>
                    <td><%= link_to recipe.name, recipe %></td>
                    <td><%= recipe.summary %></td>
                    <td><%= render recipe.categories %></td>
                    <td>
                      <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
                        <span class="font-20"><i class="fa fa-thumbs-up"></i> (<%= recipe.thumbs_up_total %>)</span>
                      <% end %>
                      &nbsp; &nbsp; &nbsp; &nbsp;
                      <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
                        <span class="font-20"><i class="fa fa-thumbs-down"></i> (<%= recipe.thumbs_down_total %>)</span>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="row text-center">
              <%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>
            </div>
          </div>
        </div>
      </div>  
      <% end %>
      <%= link_to "Back", :back, class: "btn btn-default" %>
      <% if logged_in? && current_user == @chef %>
        <%= link_to "Add new recipe", new_recipe_path, class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>