<div id="recipe"  class="container spacer">
  <br>
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><strong><%= @recipe.name %></strong></h3>
        </div>
        <div class="panel-body">
          <div class="text-center">
            <% if @recipe.picture? %>
              <%= image_tag(@recipe.picture.big.url, class: "img-thumbnail img-responsive") %>
            <% else %>
              <img src="http://placehold.it/750x400" alt="" class="img-thumbnail img-responsive">
            <% end %>
          </div>
          <br><br>
          <div class="row">
          <div class="col-sm-6 col-md-8">
            <blockquote><%= @recipe.summary %></blockquote>
          </div>
          <div class="col-sm-6 col-md-4">
            <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
              <span class="font-20"><i class="fa fa-thumbs-up"></i> (<%= @recipe.thumbs_up_total %>)</span>
            <% end %>
            &nbsp; &nbsp; &nbsp; &nbsp;
            <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
              <span class="font-20"><i class="fa fa-thumbs-down"></i> (<%= @recipe.thumbs_down_total %>)</span>
            <% end %>
          </div>
          </div>
          <div class="well"><%= simple_format @recipe.description %></div>
          <p class="text-left"><small><%= "Category".pluralize(@recipe.categories.count) %>:</small> <%= render @recipe.categories %></p>
          <p><small>Added <%= time_ago_in_words(@recipe.created_at) %> ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
          <img class="media-object img-circle img-responsive" src="<%= gravatar_for(@recipe.chef.email, size: 200) %>" alt="...">
        <div class="caption">
          <h3><%= link_to @recipe.chef.chefname, @recipe.chef %></h3>
          <p><small>Regirsted <%= time_ago_in_words(@recipe.chef.created_at) %> ago</small></p>
          <p><%= link_to 'View profile', @recipe.chef, class: "btn btn-primary" %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <%= link_to "Back", :back, class: "btn btn-default" %>
    <% if logged_in? && current_user == @recipe.chef %>
      <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
    <% end %>
  </div>
</div>